html
  head
    title
  body
    a(href='/add') Додати
    - var count=0
    ul
      each key, index in values
        li= index
        ul
          each val in key
            -link="/:id"+val
            - count++
              a(value=val href=link id="link-test" name=val url=val)
                li= val


 
